{% extends 'logistics/logistics.html'%}
{% from 'renderfield.html' import render_field %}
{% block logisticspage%}
<div class = 'actionpage'>
<form method = 'post'>
  <h3>Create Warehouse</h3>
  <div class = 'fields'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ render_field(form.Name) }}
    {{ render_field(form.Code) }}
    {{ render_field(form.Location)}}
    {{ render_field(form.Description)}}
  </div>
  <div class = 'submission'>
    <input type = 'submit' class = 'btn-active' name = 'submit' value = 'Submit' />
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
            <div class = "{{category}}">
            <p>{{ message }}</p>
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</form>
</div>
{% endblock %}
