{% extends 'logistics/logistics.html'%}
{% from 'renderfield.html' import render_field %}
{% block logisticspage%}
<div class = 'actionpage'>
<form method = 'post'>
  <h3>Edit Request</h3>
  <div class = 'fields'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class = 'row'>
        <div class = 'col-a'>
            <label>Request ID:</label>
        </div>
        <div class = 'col-b'>
            <input type = 'text' name = 'request-id' value = '{{head[0]}}'disabled/>        
        </div>
    </div>
    <div class = 'row'>
      <div class = 'col-a'>
        <label> Type:</label>
      </div>
      <div class = 'col-b'>
        <select name = 'type' disabled>
            <option value = '{{head[1]}}' selected hidden>{{head[1]}}</option>
            <option value = 'Inbound'>Inbound</option>
            <option value = 'Outbound'>Outbound</option>
        </select>
      </div>
    </div>
    <div class = 'row'>
        <div class = 'col-a'>
          <label> Status:</label>
        </div>
        <div class = 'col-b'>
          <select name = 'status' id = 'statuses'>
              <option value = '{{head[2]}}' selected hidden>{{head[2]}}</option>
              <option value = 'Pending'>Pending</option>
              <option value = 'Approved'>Approved</option>
              <option value = 'Rejected'>Rejected</option>
              <option value = 'Canceled'>Canceled</option>
              <option value = 'Complete'>Complete</option>
          </select>
        </div>
      </div>
  </div>
  <div class = 'row'>
    <div class = 'col-a'>
      <label>Approver:</label>
    </div>
    <div class = 'col-b'>
      <select name = 'approver' id = 'approver'>
          <option value = '{{aprv[2]}}' selected hidden>{{aprv[0]}} {{aprv[1]}}</option>
          {% for a in appr %}
          <option value = '{{a[2]}}'>{{a[0]}} {{a[1]}}</option>
          {% endfor %}
      </select>
    </div>
  </div>
  <div class = 'row'>
      <div class = 'col-a'>
        <label>Comments:</label>
      </div>
      <div class = 'col-b'>
          <textarea name="comments" id = 'comments'>{{head[3]}}</textarea>
      </div>
    </div>
  <br />  
  <div class = 'itms' style = 'text-align: left;'>
    <br />
    
    <table id = 'itm-table' style = 'width: 100%;'>
      <tr>
        <th>Code:</th>
        <th>Name:</th>
        <th>Unit:</th>
        <th>Quantity:</th>
      </tr>
      {% for dt in details%}
        <tr>
            <td>{{dt[0]}}</td>
            <td>{{dt[1]}}</td>
            <td>{{dt[2]}}</td>
            <td>{{dt[3]}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class = 'submission'>
    <input type = 'submit' class = 'btn-active' name = 'submit' value = 'Submit' />
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
            <div class = "{{category}}">
            <p>{{ message }}</p>
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</form>
<table>
    <tr>
      <th>ID:</th>
      <th>Creation Date:</th>
      <th>Created By:</th>
      <th>Last update:</th>
      <th>Updated By:</th>
      <th>type</th>
      <th>Status:</th>
      <th>Edit:</th>
      
    </tr>
    {% for tr in trans %}
     <tr class = '{{tr[6]}}'>
       <td>{{tr[0]}}</td>
       <td>{{tr[1]}}</td>
       <td>{{tr[2]}}</td>
       <td>{{tr[3]}}</td>
       <td>{{tr[4]}}</td>
       <td>{{tr[5]}}</td>
       <td>{{tr[6]}}</td>
       <td><a href = "{{url_for('logistics.edit_request', reqid = tr[0])}}"><img src = "{{url_for('static', filename = 'images/edit.png')}}" style = "width: 25px; height: 25px;"/></a></td>
     </tr>
    {% endfor %}
   </table>
</div>
<script>
$(document).ready(function(){
    if(($('#statuses option:selected').text() != "Pending") && ($('#statuses option:selected').text() != "Approved")){
        $('#statuses').prop('disabled', true);
        $('#comments').prop('disabled', true);
        $('#approver').prop('disabled', true);
    }
});


</script>

{% endblock %}
