{% extends 'logistics/logistics.html'%}
{% from 'renderfield.html' import render_field %}
{% block logisticspage%}
<div class = 'actionpage'>
<form method = 'post'>
  <h3>Create Provider</h3>
  <div class = 'fields'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for i in data %}
    <div class = 'row'>
      <div class = 'col-a'>
        <label>ID:</label>
      </div>
      <div class = 'col-b'>
        <input type = 'text' name = 'id' value = '{{i[0]}}' disabled />
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-a'>
        <label>Group Name:</label>
      </div>
      <div class = 'col-b'>
        <input type = 'text' name = 'Name' value = '{{i[1]}}'/>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-a'>
        <label>Description:</label>
      </div>
      <div class = 'col-b'>
        <textarea name="description">{{i[2]}}</textarea>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class = 'submission'>
    <input type = 'submit' class = 'btn-active' name = 'submit' value = 'Submit' />
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
            <div class = "{{category}}">
            <p>{{ message }}</p>
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</form>
<table>
  <tr>
      <th>ID:</th>
      <th>Name:</th>
      <th>Edit:</th>
    </tr>
    {% for d in data1 %}
      <tr>
        <td>{{d[0]}}</td>
        <td>{{d[1]}}</td>
        <td><a href = "{{url_for('logistics.edit_group', id = d[0])}}"><img src = "{{url_for('static', filename = 'images/edit.png')}}" style = "width: 25px; height: 25px;"/></a></td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
