body {
  background-image: url('/static/images/universe.jpg');
  background-size: cover;
  align-items: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

form{
  background-color: rgba(0,0,0,0.7);
  border-style: solid;
  border-color: rgb(225,225,225);
  border-width: 1px;
  color: white;
  width: 25%;
  margin-left: 35%;
  margin-top: 10%;
  padding: 15px;
}
.title{
  text-align: center;
  background-color: rgba(0,0,100,0.5);
}

.title h2{
  font-size: 55px;
}

.title h5{
  font-size: 12px;
  padding-bottom: 10px;
}

.row{
  padding: 10px;
}

.col-a {
  float: left;
}

.col-b{
  text-align: right;
}

input[type = text]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
}

input[type = password]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
}

.submission{
  text-align: center;
}

.btn-active{
  width: 100%;
  height: 35px;
  border: None;
  color: white;
  font-weight: bold;
  background-color: rgb(0,0,100);
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-active:hover{
  background-color: black;
}

.btn-active:active{
  background-color: rgb(225,225,225);
  color: rgb(0,0,100);
  border: solid;
  border-color: rgb(0,0,100);
  font-family: "Arial Black", Gadget, sans-serif;
}

.submission a{
  text-decoration: none;
  text-align: center;
  color: rgb(225,225,225);
  margin-top: 5px;
  margin-bottom: 5px;
}


.success {
  text-align: center;
  color: rgb(0,0,100);
}

.fail {
  text-align: center;
  color: red;
}

@media screen and (max-width: 600px) {
  body{
    background-repeat: no-repeat;
  }

  form{
    background-color: rgba(0,0,0,0.7);
    border-style: solid;
    border-color: rgb(225,225,225);
    border-width: 1px;
    color: white;
    width: 75%;
    margin-left: 10%;
    margin-top: 10%;
    padding: 15px;
  }
}
