body{
  margin: 0px;;
  padding: 0px;;
  font-family: "Arial Black", Gadget, sans-serif;

  background-size: cover;
}

.main-nav{
  background-color: rgb(0,0,100);
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: black;
}

li a:active{
  color: rgb(0,0,100);
  background-color: white;
}

li.dropdown {
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: rgba(0,0,100,0.8);}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:active {
  background-color:white;
  color: rgb(0,0,100);
}

.mainpage{
  margin-top: 3%;
}

.vertical-menu {
  width: 300px; /* Set a width if you like */
  height: 100%;
  position: fixed;
  background-color: #eee;
  padding: 5px;
  float: left;
}

.vertical-menu:hover{
  overflow: scroll;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.mainpage{
  padding: 0px;
  margin-top: 48px;
}

.vertical-menu a:hover {
  background-color: white;
  color: rgb(0,0,100);
  font-weight: bold;
}

.vertical-menu a:active {
  background-color: black;
  color: white;
  font-weight: bold;
}

h3{
  padding: 10px;
  text-align: center;
  background-color: rgb(0,0,100);
  color: white;
}

.actionpage{
  margin-top: 50px;
  padding: 15px;
  width: 77%;
  float: right;
  text-align: center;
}

.form-container:hover{
  background-color: white;
}

.form-td{
  margin-top: 0px;
  padding: 0pd;
  align-content: left;
}

form{
  width: 60%;
  background-color: #eee; /* Grey background color */
  margin-left: 15%;
  padding: 15px;
  box-shadow: 5px 10px 20px rgb(200,200,200);
}

.form-in-table{
  margin-top: 0px;
  width: 90%;
  margin-left: 5%;
}

.row{
  padding: 10px;
}

.col-a{
  float: left;
}

.col-b{
  text-align: right;
}

input[type = text]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
}

input[type = text]:disabled{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  color: rgb(102,102,0);
  background-color: rgb(255,255,153);
}

input[type = date]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
}

input[type = date]:disabled{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  color: rgb(102,102,0);
  background-color: rgb(255,255,153);
}

input[type = password]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
}

input[type = file]{
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
}

select {
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
}

select:disabled {
  width: 75%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  color: rgb(102,102,0);
  background-color: rgb(255,255,153);
}

textarea{
  width: 75%;
  height: 100px;
  box-sizing: border-box;
  border: none;
}

textarea:disabled{
  width: 75%;
  height: 100px;
  box-sizing: border-box;
  border: none;
  color: rgb(102,102,0);
  background-color: rgb(255,255,153);
}

.submission{
    text-align: center;
}

.btn-active{
  border: None;
  color: white;
  font-weight: bold;
  background-color: rgb(0,0,100);
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px;
  width: 100px;
}

.btn-active:hover{
  background-color: black;
}

.btn-active:active{
  background-color: rgb(225,225,225);
  color: rgb(0,0,100);
  border: solid;
  border-color: rgb(0,0,100);
}

.success {
  text-align: center;
  color: rgb(0,0,100);
}

.fail {
  text-align: center;
  color: red;
}
table{
  width: 95%;
  border: solid;
  border-width: 1px;
  border-color: #eee;
  box-shadow: 5px 10px 20px rgb(200,200,200);
  overflow: scroll;
}

th{
  width: auto;
  background-color: rgb(0,0,100);
  color: white;
  text-align: left;
  padding: 5px;
  border-bottom: solid;
}
.active {
  color: black;
  text-align: left;
}

.inactive {
  color: red;
  ext-align: left;
}

tr{
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}

tr:hover{
  background-color: rgb(224,224,224);
}

tr:nth-child(even){
  background-color: #eee;
}

tr:nth-child(even):hover{
  background-color: rgb(224,224,224);
}

#itm-table th td{
  width: auto;
}

.ui-tabs{
  border: none;
}

.ui-tabs .ui-tabs-nav{
  background-color: 000066;
  overflow: auto;


}

.ui-tabs .ui-tabs-nav ul{
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   position: fixed;
}

.ui-tabs .ui-tabs-nav li{
  display: inline;
  overflow: inherit;
  float:left;
}
.ui-tabs .ui-tabs-nav li a{
  background-color: 000066;
  color: white;
  font-style: normal;
  text-decoration: none;
  padding: 15px;
  display: block;
}

.ui-tabs .ui-tabs-nav li a:hover{
  background-color: black;
  color: white;
  font-style: normal;
  text-decoration: none;
  display: block;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
  background-color: white;
  color: 000066;
  font-style: normal;
  text-decoration: none;
  display: block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal p{
  color: 000066;
  font-weight: bold;
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    align-items: center;
    padding: 15px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 22px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#PickItem{
  text-decoration: none;
  color: rgb(0,0,100);
  font-weight: bold;
  text-underline-position: below;
  padding: 3px;
  margin-bottom: 5px;
}

#PickPackage{
  text-decoration: none;
  color: rgb(0,0,100);
  font-weight: bold;
  text-underline-position: below;
  padding: 3px;
  margin-bottom: 5px;
}

ul.warehouse{
  list-style-type: circle;
}

.warehousecontent{
  float:none;
  display: none;
}

.warehousecontent a{
  text-align: left;
  font-size: 12px;
}

.Locked{
  color: red;
}

.Pending {
  color: black;
  text-align: left;
}

.Complete {
  color: green;
  text-align: left;
}

.Canceled {
  color: red;
  text-align: left;
}
@media screen and (max-width: 600px) {
  ul  li.dropdown,
  ul  li {float: none;}
}
