{% extends 'invoices/invoices.html'%}
{% from 'renderfield.html' import render_field %}
{% block invoicespage%}
<div class = 'actionpage'>
<form method = 'post'>
  <h3>Create Customer</h3>
  <div class = 'fields'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ render_field(form.name) }}
    {{ render_field(form.address) }}
    {{ render_field(form.phone1)}}
    {{ render_field(form.phone2)}}
    {{ render_field(form.email)}}
    {{ render_field(form.pobox)}}
    {{ render_field(form.description)}}
  </div>
  <div class = 'submission'>
    <input type = 'submit' class = 'btn-active' name = 'submit' value = 'Submit' />
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
            <div class = "{{category}}">
            <p>{{ message }}</p>
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</form>
<input type = 'text' style = 'border: solid rgb(0,0,100); border-width: 1px; border-radius: 3px; margin: 5px; float: left; box-shadow: 1px 1px 2px rgb(200,200,200);' placeholder = 'Search' id = 'srch' />
<table>
  <tr>
      <th>ID:</th>
      <th>Name:</th>
      <th>Address:</th>
      <th>Phone #1:</th>
      <th>Phone #2:</th>
      <th>email:</th>
      <th>PO-BOX:</th>
      <th>Edit:</th>
    </tr>
    {% for d in data %}
      <tr class = 'table-row'>
        <td>{{d[0]}}</td>
        <td>{{d[1]}}</td>
        <td>{{d[2]}}</td>
        <td>{{d[3]}}</td>
        <td>{{d[4]}}</td>
        <td>{{d[5]}}</td>
        <td>{{d[6]}}</td>
        <td><a href = "{{url_for('invoices.edit_customer', cst = d[0])}}"><img src = "{{url_for('static', filename = 'images/edit.png')}}" style = "width: 25px; height: 25px;"/></a></td>
      </tr>
    {% endfor %}
  </table>
</div>


{% endblock %}
