{% extends 'layout.html'%}
{% block content%}
<div class="vertical-menu">
  <h3>Bills & Invoices</h3>
 <a href = "{{url_for('invoices.Providers')}}">Providers</a>
 <a href = "{{url_for('invoices.Customers')}}">Customers</a>
 <a href = "{{url_for('invoices.groups')}}">Groups</a>
 <a href = "{{url_for('invoices.items')}}">Items</a>
 <a href = "{{url_for('invoices.packages')}}">Packages</a>
 <a href = "{{url_for('invoices.SecondaryUnits')}}">Secondary Units</a>
 <ul class = 'warehouse' id = 'warehouse'><a href = "#">Invoices</a>
    <li class = 'warehousecontent'><a href = "{{url_for('invoices.SalesInvoice')}}" id = 'toggler'><img src = "{{url_for('static', filename = 'images/invoice.png')}}" style = 'width: 20px; height: 20px'/> Sales Invoice</a></li>
    <li class = 'warehousecontent'><a href = "{{url_for('invoices.ProcurementInvoice')}}"><img src = "{{url_for('static', filename = 'images/invoice.png')}}" style = 'width: 20px; height: 20px'/> Procurement Invoice</a></li>
    <li class = 'warehousecontent'><a href = "{{url_for('invoices.ReturnInvoice')}}"><img src = "{{url_for('static', filename = 'images/invoice.png')}}" style = 'width: 20px; height: 20px'/> Return Invoice</a></li>
    <li class = 'warehousecontent'><a href = "{{url_for('invoices.RefundInvoice')}}"><img src = "{{url_for('static', filename = 'images/invoice.png')}}" style = 'width: 20px; height: 20px'/> Refund Invoice</a></li>
 </ul>
 <ul class = 'warehouse' id = 'records'><a href = "#">Bills</a>
    <li class = 'warehousecontent'><a href = "{{url_for('invoices.PaymentBill')}}" id = 'toggler'><img src = "{{url_for('static', filename = 'images/invoice.png')}}" style = 'width: 20px; height: 20px'/> Payment Bill</a></li>
    <li class = 'warehousecontent'><a href = "{{url_for('invoices.ReceptionBill')}}"><img src = "{{url_for('static', filename = 'images/invoice.png')}}" style = 'width: 20px; height: 20px'/> Reception Bill</a></li>
 </ul>

 
 <ul class = 'reports' id = 'reports'><a href = "#">Reports</a>
  <li class = 'warehousecontent'><a href = "{{url_for('invoices.InvoicesReport')}}"><img src = "{{url_for('static', filename = 'images/report.png')}}" style = 'width:20px; height: 20px;' />Invoices report (CSV):</a></li>
  <li class = 'warehousecontent'><a href = "{{url_for('invoices.BillsReport')}}"><img src = "{{url_for('static', filename = 'images/report.png')}}" style = 'width:20px; height: 20px;' />Billsreport (CSV):</a></li>
  
 </ul>
 </div>
   {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
            <div class = "{{category}}">
            <p>{{ message }}</p>
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
{% block invoicespage%}
{% endblock %}
{% endblock %}