{% extends 'invoices/invoices.html'%}
{% from 'renderfield.html' import render_field %}
{% block invoicespage%}
<div class = 'actionpage'>
    <form method = 'POST' style = 'margin-left: -35px; width: 98%;'>
        <div class = 'fields'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type = 'hidden' id = 'type' value = '{{type}}' />
            <div class = 'row'>
                <iframe src="{{iframe}}" type="application/pdf" width="100%" height="600px" sandbox="allow-top-navigation allow-scripts allow-forms allow-popups allow-same-origin"></iframe>
            </div>
            <div class = 'row'>
                <div class = 'col-a'>
                    <label>Set Status:</label>
                </div>
                <div class =  'col-b'>
                    <select name = 'statuses'>
                        <option value = 'Canceled'>Cancel</option>
                        <option value = 'Approved'>Approve</option>
                    </select>
                </div>
            </div>
            <div class = 'row acts'>
                <div class = 'col-a'>
                    <label>Revenues Account:</label>
                </div>
                <div class = 'col -b'>
                    <select name = 'RVACT'>
                        {%for r in RS%}
                        <option value = '{{r[0]}}'>{{r[0]}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class  = 'row acts'>
                <div class = 'col-a'>
                    <label>Cost of Goods sold Account:</label>
                </div>
                <div class = 'col-b'>
                    <select name = 'CGSACT'>
                        {%for c in CGS%}
                        <option value = '{{c[0]}}'>{{c[0]}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
        <div class = 'submission'>
            <input type = 'submit' class = 'btn-active' name = 'submit' value = 'Submit' />
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                    <div class = "{{category}}">
                    <p>{{ message }}</p>
                    </div>
                  {% endfor %}
              {% endif %}
            {% endwith %}
            <p id = 'message'></p>
        </div>
    </form>
    <input type = 'text' style = 'border: solid rgb(0,0,100); border-width: 1px; border-radius: 3px; margin: 5px; float: left;box-shadow: 1px 1px 2px rgb(200,200,200);' placeholder = 'Search' id = 'srch' />
    <table>
        <tr>
            <th>Invoice Code</th>
            <th>Invoice date</th>
            <th>Created by</th>
            <th>Inovice terms</th>
            <th>Status</th>
            <th>View</th>
            <th>Print</th>
        </tr>
        {% for inv in invs%}
            <tr class = 'table-row {{inv[4]}}'>
                <td>{{inv[0]}}</td>
                <td>{{inv[1]}}</td>
                <td>{{inv[2]}}</td>
                <td>{{inv[3]}}</td>
                <td>{{inv[4]}}</td>
                <td><a href = "{{url_for('invoices.ViewInvoice', code = inv[0], tpy = type)}}"><img src = "{{url_for('static', filename = 'images/view.png')}}"style = "width: 25px; height: 25px;"></a></td>
                <td><a href = "{{url_for('invoices.PrintInvoice', code = inv[0])}}"><img src = "{{url_for('static', filename = 'images/invoice.png')}}" style = "width: 25px; height: 25px;" /></a></td>
            </tr>
        {% endfor %}
    </table>
</div>
<script>
    $(document).ready(function(){
        var invtype = $('#type').val();
        if(invtype == 'procurement' || invtype == 'return'){
            $('.acts').css('visibility','hidden');
        }
        else if(invtype == 'sales' || invtype == 'refund'){
            $('.acts').css('visibility','visible');
        }
    });
</script>
{% endblock %}