{% extends 'users/admin.html'%}
{% block adminpage%}
<div class = 'actionpage'>
<form method = 'post'>
  <h3>Change Password</h3>
  <div class = 'fields'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class = 'row'>
      <div class = 'col-a'>
        {{form.currentpswd.label}}
      </div>
      <div class = 'col-b'>
        {{form.currentpswd}}
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-a'>
        {{form.newpswd.label}}
      </div>
      <div class = 'col-b'>
        {{form.newpswd}}
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-a'>
        {{form.confirm.label}}
      </div>
      <div class = 'col-b'>
        {{form.confirm}}
      </div>
    </div>
  </div>
  <div class = 'submission'>
    <input type = 'submit' class = 'btn-active' name = 'submit' value = 'Submit' />
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
            <div class = "{{category}}">
            <p>{{ message }}</p>
            </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</form>
</div>
{% endblock %}
